@font-face {
  font-family: Gilroy;
  src: url(./Fonts/Duolingo.woff2);
}

@font-face {
  font-family: Paris;
  src: url(./Fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: Olympic;
  src: url(./Fonts/Paris2024-Variable.ttf);
}

@font-face {
   font-family: HvD Old;
   src: url(./Fonts/HvDTrial_Pluto-CondMedium-BF6486959ef15a3.otf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  scrollbar-width: none;
  user-select: none;
}

html, body{
  height: 100%;
  width: 100%;
}

body{
  width: 100%;
  height: 100%;
  background-color: #222;
}

.main{
  height: 100%;
  width: 100%;
  position: relative;
}

.nav{
  height: 100px;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  /* border-bottom: 1px solid #fff; */
  /* background-color: crimson; */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4vw;
  font-family: "Paris";
}

.nav-part2{
   display: flex;
   align-items: center;
   gap: 5vw;
}

.nav h2{
  font-size: 1.8vw;
  font-weight: 700;
  font-family: "Gilroy";
  cursor: grab;       
}

.nav a{
  color: #fff;
  text-decoration: none;         
}

.nav h4{
  font-size: 1.2vw;
}

.nav button{
  font-size: 1vw;
  padding: 0.7vw 1.4vw;
  border: none;
  background-color: #FF735F;
  font-family: "Paris";
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
}

.nav h4:hover{
   color: #FF735C;  
   border-bottom: 2px solid #FF735C;          
}

.nav i{
  font-size: 1.6vw;       
  font-weight: 800; 
  display: none;  
  cursor: grab;  
}

.nav i:hover{
  color: #FF735C;            
}

@media (max-width: 50rem){
  .nav{
      padding: 0 6vw;
      height: 70px;        
  }

  .nav h2{
     font-size: 4.5vw;         
  }

  .nav h4{
      font-size: 2vw;  
      display: none;    
  }

  .nav button{
      display: none;        
  }

  .nav i{
     display: block;       
     font-size: 4.5vw;
     color: #fff;         
  }

  .content{
     height: calc(100% - 100px);
     flex-direction: column;        
  }

  .content .left{
      width: 100%;
      height: 45%;
      padding: 4vw 6vw;
      /* background-color: crimson;*/
  }

  .content .left h1{
     font-size: 7.5vw;
     line-height: 9vw;        
  }

  .content .left p{
      font-size: 4vw;
      width: 90%;
      margin-top: 5vw;
      margin-bottom: 6vw;       
  }

  .content .left button{
      padding: 3vw 6vw;
      font-size: 3.5vw;
      border-radius: 3px;
      font-weight: 600;

  }

  .content .left button:hover{
        padding: 3vw 6vw;
        font-size: 3.5vw;
        border-radius: 3px;
        background-color: #222;
        font-weight: 600;
  }

  .content .right{
     width: 90%;
     margin-left: 5%;
     margin-right: 5%;
     height: 55%;         
  }

  .content .right img{
      width: 95%;
      height: 95%;
      margin: 5% 5%;        
  }
}

.content{
  width: 95%;
  height: calc(100% - 70px);
  margin-left: 2.5%;
  margin-right: 2.5%;   
  display: flex;   
}

.left{
  width: 55%;
  height: 100%;  
  /* background-color: crimson;  */
  padding: 5vw 4vw;
}

.left h1{
   font-size: 4.2vw; 
   font-family: "Gilroy";  
   line-height: 4.4vw;
   color: #e2e2e2;        
}

.left h1 span{
  color: #FF735C;
  font-family: "Olympic";
}

.left p{
  font-size: 1.5vw; 
  font-family: "Paris";  
  color: #e2e2e2;
  font-weight: 700;  
  width: 80%;      
  margin-top: 2vw; 
  margin-bottom: 3vw;
}

.left p span{
  color: #FF735C;
  font-family: "HvD Old";
}

.content button{
  font-size: 1.3vw;
  padding: 1.1vw 2.1vw;
  border: none;
  display: hidden;
  background-color: #FF735C;
  font-family: "Gilroy";
  color: #fff;   
  font-weight: 700;
  border-radius: 5px; 
  cursor: grab;      
}

.content button:hover{
  background-color: #222;
  font-size: 1.3vw;
  padding: 1.1vw 2.1vw;
  border: 2px solid #FF735C;            
}

.right {
  width: 45%;
  height: 100%;
  /* background-color: rgb(80, 20, 220); */
}


.right img{
  height: 80%;
  margin: 10% 10%;
  width: 80%;
}

/* h1::selection{
   color: #FF735C;           
} */

/* span::selection{
   color: #e2e2e2;          
} */

/* p::selection{
   color: #FF735C;        
} */
